body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: cornsilk;
}
ul {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
p {
  margin: 0;
  display: inline-block;
}
input {
  padding: 5px;
  border: none;
}
input:focus {
  outline: none;
  border: none;
}
.container {
  width: 960px;
  height: auto;
}
.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  background-color: transparent;
}

.btn-search {
  margin-left: 10px;
  border: none;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.gallery-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: flex-end;
  list-style: none;
}

.list-item {
  width: calc((100% - 30px) / 4);
  /* border: 1px solid lightslategray; */
  border: none;
  border-radius: 8px;
  overflow: hidden;
}

/* .photo-card {
} */

.gallery_link {
  text-decoration: none;
}

.info {
  padding: 10px;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  /* justify-content: center; */
  align-items: center;
}

.info-item {
  margin: 0;
  padding: 0;
}

.load-more {
  display: none;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
}

.load-more:hover {
  background-color: #2980b9;
}
